<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSCore" version="1.0.0.0-beta" targetFramework="net4" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net4" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net4" />
  <package id="SharpDX" version="2.5.0" targetFramework="net4" />
  <package id="SharpDX.D3DCompiler" version="2.5.0" targetFramework="net4" />
  <package id="SharpDX.Direct2D1" version="2.5.0" targetFramework="net4" />
  <package id="SharpDX.Direct3D11" version="2.5.0" targetFramework="net4" />
  <package id="SharpDX.DXGI" version="2.5.0" targetFramework="net4" />
  <package id="Sharpex2D" version="1.2.3" targetFramework="net4" />
  <package id="Sharpex2D.CSCore" version="1.2.3-pre" targetFramework="net4" />
  <package id="Sharpex2D.Rendering.DirectX10" version="1.2.3" targetFramework="net4" />
  <package id="Sharpex2D.Rendering.DirectX11" version="1.2.3" targetFramework="net4" />
  <package id="Sharpex2D.Rendering.DirectX9" version="1.2.3" targetFramework="net4" />
  <package id="Sharpex2D.XnaGameLoop" version="1.2.3" targetFramework="net4" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net4" />
</packages>